body {
  text-align: center;
}

/* Pixel Art Maker Header */
h1 {
  font: 5em Monoton;
  margin: 0.2em;
}

/* Styling for grid size header */
h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

/* Cell borders */
table,
tr,
td {
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

/* Cell size */
tr {
  height: 1.5em;
}

td {
  width: 1.5em;
}

input[type="number"] {
  width: 6em;
}
